/****** Object:  Table [dbo].[bridge_inventory]    Script Date: 1/27/2017 9:18:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bridge_inventory](
	[bridge_id] [uniqueidentifier] NOT NULL CONSTRAINT [DF__bridge_in__bridg__22AA2996]  DEFAULT (newsequentialid()),
	[material_design_id] [uniqueidentifier] NOT NULL,
	[construction_design_id] [uniqueidentifier] NOT NULL,
	[functional_class_id] [uniqueidentifier] NOT NULL,
	[status_id] [uniqueidentifier] NOT NULL,
	[county_id] [uniqueidentifier] NOT NULL,
	[nbi_num] [varchar](100) NOT NULL,
	[rating] [decimal](10, 4) NULL,
	[route_num] [varchar](25) NULL,
	[city] [varchar](50) NOT NULL,
	[intersecting_feature] [varchar](255) NOT NULL,
	[carried_feature] [varchar](255) NOT NULL,
	[location] [varchar](255) NOT NULL,
	[built] [int] NOT NULL,
	[reconstructed] [int] NULL,
	[length] [decimal](10, 4) NOT NULL,
 CONSTRAINT [PK_bridge_inventory] PRIMARY KEY CLUSTERED 
(
	[bridge_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[construction_designs]    Script Date: 1/27/2017 9:18:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[construction_designs](
	[construction_design_id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_construction_designs_construction_design_id]  DEFAULT (newsequentialid()),
	[construction_design_type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_construction_designs] PRIMARY KEY CLUSTERED 
(
	[construction_design_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[counties]    Script Date: 1/27/2017 9:18:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[counties](
	[county_id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_counties_county_id]  DEFAULT (newsequentialid()),
	[county_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_counties] PRIMARY KEY CLUSTERED 
(
	[county_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[functional_classes]    Script Date: 1/27/2017 9:18:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[functional_classes](
	[functional_class_id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_functional_classs_functional_class_id]  DEFAULT (newsequentialid()),
	[functional_class_type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_functional_classes] PRIMARY KEY CLUSTERED 
(
	[functional_class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[inspection_codes]    Script Date: 1/27/2017 9:18:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[inspection_codes](
	[inspection_code_id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_inspection_codes_inspection_codes]  DEFAULT (newsequentialid()),
	[inspection_code_name] [varchar](50) NOT NULL,
	[inspection_code_desc] [varchar](400) NOT NULL,
 CONSTRAINT [PK_inspection_codes] PRIMARY KEY CLUSTERED 
(
	[inspection_code_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[inspections]    Script Date: 1/27/2017 9:18:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[inspections](
	[inspection_id] [uniqueidentifier] NOT NULL,
	[bridge_id] [uniqueidentifier] NOT NULL,
	[inspector_id] [uniqueidentifier] NOT NULL,
	[inspection_date] [date] NOT NULL,
	[deck_inspection_code_id] [uniqueidentifier] NOT NULL,
	[superstructure_inspection_code_id] [uniqueidentifier] NOT NULL,
	[substructure_inspection_code_id] [uniqueidentifier] NOT NULL,
	[inspection_notes] [varchar](2000) NULL,
 CONSTRAINT [PK_inspections] PRIMARY KEY CLUSTERED 
(
	[inspection_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[inspectors]    Script Date: 1/27/2017 9:18:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[inspectors](
	[inspector_id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_inspectors_inspector_id]  DEFAULT (newsequentialid()),
	[inspector_first] [varchar](50) NOT NULL,
	[inspector_last] [varchar](50) NOT NULL,
	[inspector_org] [varchar](50) NOT NULL,
	[inspector_cert_effective] [date] NOT NULL,
	[inspector_cert_expires] [date] NOT NULL,
 CONSTRAINT [PK_inspectors] PRIMARY KEY CLUSTERED 
(
	[inspector_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[maintenace]    Script Date: 1/27/2017 9:18:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[maintenace](
	[maint_id] [uniqueidentifier] NOT NULL,
	[maint_action_id] [uniqueidentifier] NOT NULL,
	[inspector_id] [uniqueidentifier] NOT NULL,
	[maint_projected_start] [date] NOT NULL,
	[maint_projected_end] [date] NOT NULL,
	[maint_actual_start] [date] NULL,
	[maint_actual_end] [date] NULL,
	[maint_proj_cost] [decimal](18, 4) NOT NULL,
	[maint_actual_cost] [decimal](18, 4) NULL,
	[maint_notes] [varchar](1000) NULL,
	[maint_inspector_notes] [varchar](1000) NULL,
 CONSTRAINT [PK_maintenace] PRIMARY KEY CLUSTERED 
(
	[maint_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[maintenance_actions]    Script Date: 1/27/2017 9:18:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[maintenance_actions](
	[maint_action_id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_maintenance_actions_maint_action_id]  DEFAULT (newsequentialid()),
	[maint_action_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_maintenance_actions] PRIMARY KEY CLUSTERED 
(
	[maint_action_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[material_designs]    Script Date: 1/27/2017 9:18:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[material_designs](
	[material_design_id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_material_designs_material_design_id]  DEFAULT (newsequentialid()),
	[material_design_type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_material_designs] PRIMARY KEY CLUSTERED 
(
	[material_design_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[status_codes]    Script Date: 1/27/2017 9:18:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[status_codes](
	[status_id] [uniqueidentifier] NOT NULL CONSTRAINT [DF_status_codes_status_id]  DEFAULT (newsequentialid()),
	[status_name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_status_codes] PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[construction_designs] ([construction_design_id], [construction_design_type]) VALUES (N'900987fc-ace4-e611-8ebc-00059a3c7a00', N'Arch - Deck')
GO
INSERT [dbo].[construction_designs] ([construction_design_id], [construction_design_type]) VALUES (N'910987fc-ace4-e611-8ebc-00059a3c7a00', N'Arch - Thru')
GO
INSERT [dbo].[construction_designs] ([construction_design_id], [construction_design_type]) VALUES (N'920987fc-ace4-e611-8ebc-00059a3c7a00', N'Box Beam or Girders - Multiple')
GO
INSERT [dbo].[counties] ([county_id], [county_name]) VALUES (N'd4b8c250-aae4-e611-8ebc-00059a3c7a00', N'Bristol')
GO
INSERT [dbo].[counties] ([county_id], [county_name]) VALUES (N'd5b8c250-aae4-e611-8ebc-00059a3c7a00', N'Kent')
GO
INSERT [dbo].[counties] ([county_id], [county_name]) VALUES (N'd6b8c250-aae4-e611-8ebc-00059a3c7a00', N'Newport')
GO
INSERT [dbo].[functional_classes] ([functional_class_id], [functional_class_type]) VALUES (N'44875bff-aee4-e611-8ebc-00059a3c7a00', N'Collector, Urban')
GO
INSERT [dbo].[functional_classes] ([functional_class_id], [functional_class_type]) VALUES (N'45875bff-aee4-e611-8ebc-00059a3c7a00', N'Local, Rural')
GO
INSERT [dbo].[functional_classes] ([functional_class_id], [functional_class_type]) VALUES (N'46875bff-aee4-e611-8ebc-00059a3c7a00', N'Local, Urban')
GO
INSERT [dbo].[inspection_codes] ([inspection_code_id], [inspection_code_name], [inspection_code_desc]) VALUES (N'e6bad22b-b1e4-e611-8ebc-00059a3c7a00', N'NOT APPLICABLE', N'NOT APPLICABLE')
GO
INSERT [dbo].[inspection_codes] ([inspection_code_id], [inspection_code_name], [inspection_code_desc]) VALUES (N'e7bad22b-b1e4-e611-8ebc-00059a3c7a00', N'EXCELLENT CONDITION
', N'EXCELLENT CONDITION
')
GO
INSERT [dbo].[inspection_codes] ([inspection_code_id], [inspection_code_name], [inspection_code_desc]) VALUES (N'2cfba734-b1e4-e611-8ebc-00059a3c7a00', N'VERY GOOD CONDITION', N'VERY GOOD CONDITION - no problems noted.')
GO
INSERT [dbo].[inspectors] ([inspector_id], [inspector_first], [inspector_last], [inspector_org], [inspector_cert_effective], [inspector_cert_expires]) VALUES (N'0770bf9b-b0e4-e611-8ebc-00059a3c7a00', N'John', N'Doe', N'RI DOT', CAST(N'2015-01-01' AS Date), CAST(N'2018-01-01' AS Date))
GO
INSERT [dbo].[maintenance_actions] ([maint_action_id], [maint_action_name]) VALUES (N'bea4099e-b3e4-e611-8ebc-00059a3c7a00', N'Resurface Deck')
GO
INSERT [dbo].[maintenance_actions] ([maint_action_id], [maint_action_name]) VALUES (N'9ed532a5-b3e4-e611-8ebc-00059a3c7a00', N'Repaint superstructure')
GO
INSERT [dbo].[maintenance_actions] ([maint_action_id], [maint_action_name]) VALUES (N'9fd532a5-b3e4-e611-8ebc-00059a3c7a00', N'Repaint substructure')
GO
INSERT [dbo].[material_designs] ([material_design_id], [material_design_type]) VALUES (N'8b2c0e1d-ace4-e611-8ebc-00059a3c7a00', N'Aluminum, Wrought Iron, or Cast Iron')
GO
INSERT [dbo].[material_designs] ([material_design_id], [material_design_type]) VALUES (N'8c2c0e1d-ace4-e611-8ebc-00059a3c7a00', N'Concrete')
GO
INSERT [dbo].[material_designs] ([material_design_id], [material_design_type]) VALUES (N'8d2c0e1d-ace4-e611-8ebc-00059a3c7a00', N'Concrete continuous')
GO
INSERT [dbo].[status_codes] ([status_id], [status_name]) VALUES (N'55d26218-aee4-e611-8ebc-00059a3c7a00', N'Not defecient')
GO
INSERT [dbo].[status_codes] ([status_id], [status_name]) VALUES (N'fd448f22-aee4-e611-8ebc-00059a3c7a00', N'Structurally Defecient')
GO
INSERT [dbo].[status_codes] ([status_id], [status_name]) VALUES (N'94fb9d29-aee4-e611-8ebc-00059a3c7a00', N'Functionally Obsolete')
GO
ALTER TABLE [dbo].[inspections] ADD  CONSTRAINT [DF_inspections_inspection_id]  DEFAULT (newsequentialid()) FOR [inspection_id]
GO
ALTER TABLE [dbo].[maintenace] ADD  CONSTRAINT [DF_maintenace_maint_id]  DEFAULT (newsequentialid()) FOR [maint_id]
GO
ALTER TABLE [dbo].[bridge_inventory]  WITH CHECK ADD  CONSTRAINT [FK_bridge_inventory_construction_designs] FOREIGN KEY([construction_design_id])
REFERENCES [dbo].[construction_designs] ([construction_design_id])
GO
ALTER TABLE [dbo].[bridge_inventory] CHECK CONSTRAINT [FK_bridge_inventory_construction_designs]
GO
ALTER TABLE [dbo].[bridge_inventory]  WITH CHECK ADD  CONSTRAINT [FK_bridge_inventory_counties] FOREIGN KEY([county_id])
REFERENCES [dbo].[counties] ([county_id])
GO
ALTER TABLE [dbo].[bridge_inventory] CHECK CONSTRAINT [FK_bridge_inventory_counties]
GO
ALTER TABLE [dbo].[bridge_inventory]  WITH CHECK ADD  CONSTRAINT [FK_bridge_inventory_functional_classes] FOREIGN KEY([functional_class_id])
REFERENCES [dbo].[functional_classes] ([functional_class_id])
GO
ALTER TABLE [dbo].[bridge_inventory] CHECK CONSTRAINT [FK_bridge_inventory_functional_classes]
GO
ALTER TABLE [dbo].[bridge_inventory]  WITH CHECK ADD  CONSTRAINT [FK_bridge_inventory_material_designs] FOREIGN KEY([material_design_id])
REFERENCES [dbo].[material_designs] ([material_design_id])
GO
ALTER TABLE [dbo].[bridge_inventory] CHECK CONSTRAINT [FK_bridge_inventory_material_designs]
GO
ALTER TABLE [dbo].[bridge_inventory]  WITH CHECK ADD  CONSTRAINT [FK_bridge_inventory_status_codes] FOREIGN KEY([status_id])
REFERENCES [dbo].[status_codes] ([status_id])
GO
ALTER TABLE [dbo].[bridge_inventory] CHECK CONSTRAINT [FK_bridge_inventory_status_codes]
GO
ALTER TABLE [dbo].[inspections]  WITH CHECK ADD  CONSTRAINT [FK_inspections_bridge_inventory] FOREIGN KEY([bridge_id])
REFERENCES [dbo].[bridge_inventory] ([bridge_id])
GO
ALTER TABLE [dbo].[inspections] CHECK CONSTRAINT [FK_inspections_bridge_inventory]
GO
ALTER TABLE [dbo].[inspections]  WITH CHECK ADD  CONSTRAINT [FK_inspections_inspection_codes] FOREIGN KEY([deck_inspection_code_id])
REFERENCES [dbo].[inspection_codes] ([inspection_code_id])
GO
ALTER TABLE [dbo].[inspections] CHECK CONSTRAINT [FK_inspections_inspection_codes]
GO
ALTER TABLE [dbo].[inspections]  WITH CHECK ADD  CONSTRAINT [FK_inspections_inspection_codes1] FOREIGN KEY([superstructure_inspection_code_id])
REFERENCES [dbo].[inspection_codes] ([inspection_code_id])
GO
ALTER TABLE [dbo].[inspections] CHECK CONSTRAINT [FK_inspections_inspection_codes1]
GO
ALTER TABLE [dbo].[inspections]  WITH CHECK ADD  CONSTRAINT [FK_inspections_inspection_codes2] FOREIGN KEY([substructure_inspection_code_id])
REFERENCES [dbo].[inspection_codes] ([inspection_code_id])
GO
ALTER TABLE [dbo].[inspections] CHECK CONSTRAINT [FK_inspections_inspection_codes2]
GO
ALTER TABLE [dbo].[inspections]  WITH CHECK ADD  CONSTRAINT [FK_inspections_inspectors] FOREIGN KEY([inspector_id])
REFERENCES [dbo].[inspectors] ([inspector_id])
GO
ALTER TABLE [dbo].[inspections] CHECK CONSTRAINT [FK_inspections_inspectors]
GO
ALTER TABLE [dbo].[maintenace]  WITH CHECK ADD  CONSTRAINT [FK_maintenace_inspectors] FOREIGN KEY([inspector_id])
REFERENCES [dbo].[inspectors] ([inspector_id])
GO
ALTER TABLE [dbo].[maintenace] CHECK CONSTRAINT [FK_maintenace_inspectors]
GO
ALTER TABLE [dbo].[maintenace]  WITH CHECK ADD  CONSTRAINT [FK_maintenace_maintenance_actions] FOREIGN KEY([maint_action_id])
REFERENCES [dbo].[maintenance_actions] ([maint_action_id])
GO
ALTER TABLE [dbo].[maintenace] CHECK CONSTRAINT [FK_maintenace_maintenance_actions]
GO
