/****** Object:  Table [dbo].[Bridges]    Script Date: 1/29/2017 9:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bridges](
	[BridgeId] [uniqueidentifier] NOT NULL CONSTRAINT [DF__bridge_in__bridg__22AA2996]  DEFAULT (newsequentialid()),
	[MaterialDesignId] [uniqueidentifier] NOT NULL,
	[ConstructionDesignId] [uniqueidentifier] NOT NULL,
	[FunctionalClassId] [uniqueidentifier] NOT NULL,
	[StatusId] [uniqueidentifier] NOT NULL,
	[CountyId] [uniqueidentifier] NOT NULL,
	[NbiNumber] [varchar](100) NOT NULL,
	[Rating] [decimal](10, 4) NULL,
	[RouteNumber] [varchar](25) NULL,
	[City] [varchar](50) NOT NULL,
	[IntersectingFeature] [varchar](255) NOT NULL,
	[CarriedFeature] [varchar](255) NOT NULL,
	[Location] [varchar](255) NOT NULL,
	[Built] [int] NOT NULL,
	[Reconstructed] [int] NULL,
	[TotalLength] [decimal](10, 4) NOT NULL,
 CONSTRAINT [PK_bridge_inventory] PRIMARY KEY CLUSTERED 
(
	[BridgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ConstructionDesigns]    Script Date: 1/29/2017 9:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ConstructionDesigns](
	[ConstructionDesignId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_construction_designs_construction_design_id]  DEFAULT (newsequentialid()),
	[ConstructionDesignType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_construction_designs] PRIMARY KEY CLUSTERED 
(
	[ConstructionDesignId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Counties]    Script Date: 1/29/2017 9:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Counties](
	[CountyId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_counties_county_id]  DEFAULT (newsequentialid()),
	[CountyName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_counties] PRIMARY KEY CLUSTERED 
(
	[CountyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FunctionalClasses]    Script Date: 1/29/2017 9:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FunctionalClasses](
	[FunctionalClassId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_functional_classs_functional_class_id]  DEFAULT (newsequentialid()),
	[FunctionalClassType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_functional_classes] PRIMARY KEY CLUSTERED 
(
	[FunctionalClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[InspectionCodes]    Script Date: 1/29/2017 9:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InspectionCodes](
	[InspectionCodeId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_inspection_codes_inspection_codes]  DEFAULT (newsequentialid()),
	[InspectionCodeName] [varchar](50) NOT NULL,
	[InspectoinCodeDesc] [varchar](400) NOT NULL,
 CONSTRAINT [PK_inspection_codes] PRIMARY KEY CLUSTERED 
(
	[InspectionCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Inspections]    Script Date: 1/29/2017 9:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Inspections](
	[InspectionId] [uniqueidentifier] NOT NULL,
	[BridgeId] [uniqueidentifier] NOT NULL,
	[InspectorId] [uniqueidentifier] NOT NULL,
	[InspectionDate] [date] NOT NULL,
	[DeckInspectoinCodeId] [uniqueidentifier] NOT NULL,
	[SuperstructureInspectionCodeId] [uniqueidentifier] NOT NULL,
	[SubstructureInspectionCodeId] [uniqueidentifier] NOT NULL,
	[InspectionNotes] [varchar](2000) NULL,
 CONSTRAINT [PK_inspections] PRIMARY KEY CLUSTERED 
(
	[InspectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Inspectors]    Script Date: 1/29/2017 9:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Inspectors](
	[InspectorId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_inspectors_inspector_id]  DEFAULT (newsequentialid()),
	[InspectorFirst] [varchar](50) NOT NULL,
	[InspectorLast] [varchar](50) NOT NULL,
	[InspectorOrg] [varchar](50) NOT NULL,
	[InspectorCertEffective] [date] NOT NULL,
	[InspectorCertExpires] [date] NOT NULL,
 CONSTRAINT [PK_inspectors] PRIMARY KEY CLUSTERED 
(
	[InspectorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MaintenanceActions]    Script Date: 1/29/2017 9:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MaintenanceActions](
	[MaintenanceActionId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_maintenance_actions_maint_action_id]  DEFAULT (newsequentialid()),
	[MaintenanceActionName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_maintenance_actions] PRIMARY KEY CLUSTERED 
(
	[MaintenanceActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MaintenanceRecords]    Script Date: 1/29/2017 9:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MaintenanceRecords](
	[MaintenaceId] [uniqueidentifier] NOT NULL,
	[MaintenanceActionId] [uniqueidentifier] NOT NULL,
	[InspectorId] [uniqueidentifier] NOT NULL,
	[MaintenanceProjectedStart] [date] NOT NULL,
	[MaintenanceProjectedEnd] [date] NOT NULL,
	[MaintenanceActualStart] [date] NULL,
	[MaintenanceActualEnd] [date] NULL,
	[MantenanceProjectedCost] [decimal](18, 4) NOT NULL,
	[MaintenanceActualCost] [decimal](18, 4) NULL,
	[MaintenanceNotes] [varchar](1000) NULL,
	[InspectorNotes] [varchar](1000) NULL,
 CONSTRAINT [PK_maintenace] PRIMARY KEY CLUSTERED 
(
	[MaintenaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MaterialDesigns]    Script Date: 1/29/2017 9:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MaterialDesigns](
	[MaterialDesignId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_material_designs_material_design_id]  DEFAULT (newsequentialid()),
	[MaterialDesignType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_material_designs] PRIMARY KEY CLUSTERED 
(
	[MaterialDesignId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StatusCodes]    Script Date: 1/29/2017 9:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StatusCodes](
	[StatusId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_status_codes_status_id]  DEFAULT (newsequentialid()),
	[StatusName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_status_codes] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ConstructionDesigns] ([ConstructionDesignId], [ConstructionDesignType]) VALUES (N'900987fc-ace4-e611-8ebc-00059a3c7a00', N'Arch - Deck')
GO
INSERT [dbo].[ConstructionDesigns] ([ConstructionDesignId], [ConstructionDesignType]) VALUES (N'910987fc-ace4-e611-8ebc-00059a3c7a00', N'Arch - Thru')
GO
INSERT [dbo].[ConstructionDesigns] ([ConstructionDesignId], [ConstructionDesignType]) VALUES (N'920987fc-ace4-e611-8ebc-00059a3c7a00', N'Box Beam or Girders - Multiple')
GO
INSERT [dbo].[Counties] ([CountyId], [CountyName]) VALUES (N'd4b8c250-aae4-e611-8ebc-00059a3c7a00', N'Bristol')
GO
INSERT [dbo].[Counties] ([CountyId], [CountyName]) VALUES (N'd5b8c250-aae4-e611-8ebc-00059a3c7a00', N'Kent')
GO
INSERT [dbo].[Counties] ([CountyId], [CountyName]) VALUES (N'd6b8c250-aae4-e611-8ebc-00059a3c7a00', N'Newport')
GO
INSERT [dbo].[FunctionalClasses] ([FunctionalClassId], [FunctionalClassType]) VALUES (N'44875bff-aee4-e611-8ebc-00059a3c7a00', N'Collector, Urban')
GO
INSERT [dbo].[FunctionalClasses] ([FunctionalClassId], [FunctionalClassType]) VALUES (N'45875bff-aee4-e611-8ebc-00059a3c7a00', N'Local, Rural')
GO
INSERT [dbo].[FunctionalClasses] ([FunctionalClassId], [FunctionalClassType]) VALUES (N'46875bff-aee4-e611-8ebc-00059a3c7a00', N'Local, Urban')
GO
INSERT [dbo].[InspectionCodes] ([InspectionCodeId], [InspectionCodeName], [InspectoinCodeDesc]) VALUES (N'e6bad22b-b1e4-e611-8ebc-00059a3c7a00', N'NOT APPLICABLE', N'NOT APPLICABLE')
GO
INSERT [dbo].[InspectionCodes] ([InspectionCodeId], [InspectionCodeName], [InspectoinCodeDesc]) VALUES (N'e7bad22b-b1e4-e611-8ebc-00059a3c7a00', N'EXCELLENT CONDITION
', N'EXCELLENT CONDITION
')
GO
INSERT [dbo].[InspectionCodes] ([InspectionCodeId], [InspectionCodeName], [InspectoinCodeDesc]) VALUES (N'2cfba734-b1e4-e611-8ebc-00059a3c7a00', N'VERY GOOD CONDITION', N'VERY GOOD CONDITION - no problems noted.')
GO
INSERT [dbo].[Inspectors] ([InspectorId], [InspectorFirst], [InspectorLast], [InspectorOrg], [InspectorCertEffective], [InspectorCertExpires]) VALUES (N'0770bf9b-b0e4-e611-8ebc-00059a3c7a00', N'John', N'Doe', N'RI DOT', CAST(N'2015-01-01' AS Date), CAST(N'2018-01-01' AS Date))
GO
INSERT [dbo].[MaintenanceActions] ([MaintenanceActionId], [MaintenanceActionName]) VALUES (N'bea4099e-b3e4-e611-8ebc-00059a3c7a00', N'Resurface Deck')
GO
INSERT [dbo].[MaintenanceActions] ([MaintenanceActionId], [MaintenanceActionName]) VALUES (N'9ed532a5-b3e4-e611-8ebc-00059a3c7a00', N'Repaint superstructure')
GO
INSERT [dbo].[MaintenanceActions] ([MaintenanceActionId], [MaintenanceActionName]) VALUES (N'9fd532a5-b3e4-e611-8ebc-00059a3c7a00', N'Repaint substructure')
GO
INSERT [dbo].[MaterialDesigns] ([MaterialDesignId], [MaterialDesignType]) VALUES (N'8b2c0e1d-ace4-e611-8ebc-00059a3c7a00', N'Aluminum, Wrought Iron, or Cast Iron')
GO
INSERT [dbo].[MaterialDesigns] ([MaterialDesignId], [MaterialDesignType]) VALUES (N'8c2c0e1d-ace4-e611-8ebc-00059a3c7a00', N'Concrete')
GO
INSERT [dbo].[MaterialDesigns] ([MaterialDesignId], [MaterialDesignType]) VALUES (N'8d2c0e1d-ace4-e611-8ebc-00059a3c7a00', N'Concrete continuous')
GO
INSERT [dbo].[StatusCodes] ([StatusId], [StatusName]) VALUES (N'55d26218-aee4-e611-8ebc-00059a3c7a00', N'Not defecient')
GO
INSERT [dbo].[StatusCodes] ([StatusId], [StatusName]) VALUES (N'fd448f22-aee4-e611-8ebc-00059a3c7a00', N'Structurally Defecient')
GO
INSERT [dbo].[StatusCodes] ([StatusId], [StatusName]) VALUES (N'94fb9d29-aee4-e611-8ebc-00059a3c7a00', N'Functionally Obsolete')
GO
ALTER TABLE [dbo].[Inspections] ADD  CONSTRAINT [DF_inspections_inspection_id]  DEFAULT (newsequentialid()) FOR [InspectionId]
GO
ALTER TABLE [dbo].[MaintenanceRecords] ADD  CONSTRAINT [DF_maintenace_maint_id]  DEFAULT (newsequentialid()) FOR [MaintenaceId]
GO
ALTER TABLE [dbo].[Bridges]  WITH CHECK ADD  CONSTRAINT [FK_bridge_inventory_construction_designs] FOREIGN KEY([ConstructionDesignId])
REFERENCES [dbo].[ConstructionDesigns] ([ConstructionDesignId])
GO
ALTER TABLE [dbo].[Bridges] CHECK CONSTRAINT [FK_bridge_inventory_construction_designs]
GO
ALTER TABLE [dbo].[Bridges]  WITH CHECK ADD  CONSTRAINT [FK_bridge_inventory_counties] FOREIGN KEY([CountyId])
REFERENCES [dbo].[Counties] ([CountyId])
GO
ALTER TABLE [dbo].[Bridges] CHECK CONSTRAINT [FK_bridge_inventory_counties]
GO
ALTER TABLE [dbo].[Bridges]  WITH CHECK ADD  CONSTRAINT [FK_bridge_inventory_functional_classes] FOREIGN KEY([FunctionalClassId])
REFERENCES [dbo].[FunctionalClasses] ([FunctionalClassId])
GO
ALTER TABLE [dbo].[Bridges] CHECK CONSTRAINT [FK_bridge_inventory_functional_classes]
GO
ALTER TABLE [dbo].[Bridges]  WITH CHECK ADD  CONSTRAINT [FK_bridge_inventory_material_designs] FOREIGN KEY([MaterialDesignId])
REFERENCES [dbo].[MaterialDesigns] ([MaterialDesignId])
GO
ALTER TABLE [dbo].[Bridges] CHECK CONSTRAINT [FK_bridge_inventory_material_designs]
GO
ALTER TABLE [dbo].[Bridges]  WITH CHECK ADD  CONSTRAINT [FK_bridge_inventory_status_codes] FOREIGN KEY([StatusId])
REFERENCES [dbo].[StatusCodes] ([StatusId])
GO
ALTER TABLE [dbo].[Bridges] CHECK CONSTRAINT [FK_bridge_inventory_status_codes]
GO
ALTER TABLE [dbo].[Inspections]  WITH CHECK ADD  CONSTRAINT [FK_inspections_bridge_inventory] FOREIGN KEY([BridgeId])
REFERENCES [dbo].[Bridges] ([BridgeId])
GO
ALTER TABLE [dbo].[Inspections] CHECK CONSTRAINT [FK_inspections_bridge_inventory]
GO
ALTER TABLE [dbo].[Inspections]  WITH CHECK ADD  CONSTRAINT [FK_inspections_inspection_codes] FOREIGN KEY([DeckInspectoinCodeId])
REFERENCES [dbo].[InspectionCodes] ([InspectionCodeId])
GO
ALTER TABLE [dbo].[Inspections] CHECK CONSTRAINT [FK_inspections_inspection_codes]
GO
ALTER TABLE [dbo].[Inspections]  WITH CHECK ADD  CONSTRAINT [FK_inspections_inspection_codes1] FOREIGN KEY([SuperstructureInspectionCodeId])
REFERENCES [dbo].[InspectionCodes] ([InspectionCodeId])
GO
ALTER TABLE [dbo].[Inspections] CHECK CONSTRAINT [FK_inspections_inspection_codes1]
GO
ALTER TABLE [dbo].[Inspections]  WITH CHECK ADD  CONSTRAINT [FK_inspections_inspection_codes2] FOREIGN KEY([SubstructureInspectionCodeId])
REFERENCES [dbo].[InspectionCodes] ([InspectionCodeId])
GO
ALTER TABLE [dbo].[Inspections] CHECK CONSTRAINT [FK_inspections_inspection_codes2]
GO
ALTER TABLE [dbo].[Inspections]  WITH CHECK ADD  CONSTRAINT [FK_inspections_inspectors] FOREIGN KEY([InspectorId])
REFERENCES [dbo].[Inspectors] ([InspectorId])
GO
ALTER TABLE [dbo].[Inspections] CHECK CONSTRAINT [FK_inspections_inspectors]
GO
