<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <title>@ViewData["Title"] - SE406_Payne</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SE406_Payne</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
            </ul>
        </div>
    </div>

<div class="container-fluid">
    <div class="jumbotron">
        
                <h2 class="text-center text-info"><span style="font-family: Merriweather">RI DOT Bridge Maintenance</span></h2>
          
        
        <img src="~/images/Project_banner_c.png" class="img-responsive hidden-xs" />
    </div>
    <div class="row">
        <div class="col-md-3">
            <div style="background-color: #6CFF71">
                <br /> <br /> <br /> <br />
                <br /> <br /> <br /> <br />
            </div>
        </div>

        <div class="col-md-9">
            <div style="background-color: #49d1ff">
                @RenderBody()
                <br /> <br /> <br /> <br />
                <br /> <br /> <br /> <br />
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2017 - SE406_Payne</p>
    </footer>
</div>

    @RenderSection("scripts", required: false)
</body>
</html>
