@{
    ViewData["Title"] = "RITBA";
}
@section list {
<ul style="list-style-type:none">
    <li>The majority of the text on this page was taken directly from:</li>
    <li>http://www.ritba.org/about-ritba</li>
    </ul>
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    The Rhode Island Turnpike and Bridge Authority operates and maintains the Mount Hope Bridge, the Jamestown Verrazzano Bridge, Route 138 through Jamestown, the Newport Pell Bridge, and the Sakonnet River Bridge.
</p>
<br />
<p>
    The Authority
    The Rhode Island Turnpike and Bridge Authority was created in 1954 by the Rhode Island General Assembly as a body corporate and politic, with powers to construct, acquire, maintain, and operate bridge projects as defined by law. The Authority has no stockholders or equity holders. It is directed by a five member board of directors. The governor directly appoints four out of the five members of the board to four-year terms.  The director of the R.I. Department of Transportation is the fifth member of the board ex officio.  The five elect a chairman and vice-chairman from their ranks; the treasurer role is fulfilled by the chief financial officer and the executive director serves as secretary.
</p>
<br />

<p>The Authority first operated and maintained the Mount Hope Bridge which connects Aquidneck Island at Portsmouth to Bristol. The Authority was then tasked with the construction of the Claiborne Pell /Newport Bridge connecting Jamestown to Newport. This was opened to traffic on June 28, 1969 and both have been operated and maintained by the Authority ever since.</p>
<br />

<p>
    The Authority acquired control of the Sakonnet River Bridge, the Jamestown Verrazzano Bridge, and the 138 highway connector in 2013. Up until then, these two bridges and roadway were owned and operated by the State of Rhode Island.
</p>
<br />

<p>
    Prior to 2014 no tax dollars, state or local, were received by the Authority. Debt service and expenses incurred in the operation and maintenance of the bridges and associated buildings and grounds were satisfied with funds received in the form of toll revenue and investment income. Tolls on the Newport Pell Bridge account for the majority of RITBA’s revenue, supplemented by additional funds from investments and, as a result of the 2014 legislation, includes a percentage of the gasoline tax. Through sound financial management coupled with superior engineering and operations excellence, RITBA is responsible for keeping the four bridges safe for vehicular travel and maintained in exemplary condition.
</p>
<br />

<p>
    As a quasi-state agency, RITBA comports with state purchasing, financial reporting, open meetings, other public governance laws, and is empowered to issue bonds to support replacement and renewal efforts. RITBA is a component unit of the State of Rhode Island for financial reporting purposes; is exempt from federal and state income taxes; and its audited financial statements are included in the state’s annual financial report.
</p>
<br />

<p>

    Laws and Regulations
    By Laws - Click Here
    Enabling Legislation - Click Here
    Title 31 Motor and Other vehicles Chapter 31-3 Registration of Vehicles - Click Here
    Title 24 Highways Chapter 24-12 Rhode Island Turnpike and Bridge Authority- Click Here

</p>
