@{
    ViewData["Title"] = "Home Page";
}

@section list {
    <ul style="list-style-type:none">
        <li><u>Supporting Tables</u></li>
        <li><a asp-area="" asp-controller="ConstructionDesign" asp-action="Index">Construction Designs</a></li>
        <li><a asp-area="" asp-controller="County" asp-action="Index">Counties</a></li>
        <li><a asp-area="" asp-controller="FunctionalClass" asp-action="Index">Functional Classes</a></li>
        <li><a asp-area="" asp-controller="InspectionCode" asp-action="Index">Inspection Codes</a></li>
        <li><a asp-area="" asp-controller="MaintenanceAction" asp-action="Index">Maintenance Actions</a></li>
        <li><a asp-area="" asp-controller="MaterialDesign" asp-action="Index">Material Designs</a></li>
        <li><a asp-area="" asp-controller="StatusCode" asp-action="Index">Status Codes</a></li>
    </ul>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <ol style="list-style-type:none">
                <li>The Bridge</li>
                <li>
                    BY HENRY LONGFELLOW
                </li>
                <li>
                <li><br /></li>
                <li><br /></li>
                I stood on the bridge at midnight,
                </li>
                <li>
                    As the clocks were striking the hour,
                </li>
                <li>
                    And the moon rose o'er the city,
                </li>
                <li>
                    Behind the dark church-tower.
                </li>
                <li>
                    <br />
                </li>
                <li>
                    I saw her bright reflection
                </li>
                <li>
                    In the waters under me,
                </li>
                <li>
                    Like a golden goblet falling
                </li>
                <li>
                    And sinking into the sea.
                </li>
                <li>
                    <br />
                </li>
                <li>
                    And far in the hazy distance
                </li>
                <li>
                    Of that lovely night in June,
                </li>
                <li>
                    The blaze of the flaming furnace
                </li>
                <li>
                    Gleamed redder than the moon.
                </li>
                <li>
                    <br />
                </li>
                <li>
                    Among the long, black rafters
                </li>
                <li>
                    The wavering shadows lay,
                </li>
                <li>
                    And the current that came from the ocean
                </li>
                <li>
                    Seemed to lift and bear them away;
                </li>
                <li>
                    <br />
                </li>
                <li>
                    As, sweeping and eddying through them,
                </li>
                <li>
                    Rose the belated tide,
                </li>
                <li>
                    And, streaming into the moonlight,
                </li>
                <li>
                    The seaweed floated wide.
                </li>
                <li>
                    <br />
                </li>
                <li>
                    And like those waters rushing
                </li>
                <li>
                    Among the wooden piers,
                </li>
                <li>
                    A flood of thoughts came o’er me
                </li>
                <li>
                    That filled my eyes with tears.
                </li>
                <li>
                    <br />
                </li>
                <li>
                    How often, O, how often,
                </li>
                <li>
                    In the days that had gone by,
                </li>
                <li>
                    I had stood on that bridge at midnight
                </li>
                <li>
                    And gazed on that wave and sky!
                </li>
                <li>
                    <br />
                </li>
                <li>
                    How often, O, how often,
                </li>
                <li>
                    I had wished that the ebbing tide
                </li>
            </ol>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">


            <ol style="list-style-type:none">
                <li><br /></li>
                <li><br /></li>
                <li><br /></li>
                <li><br /></li>
                <li>Would bear me away on its bosom                       </li>
                <li>
                    O’er the ocean wild and wide!
                </li>
                <li>
                </li>
                <li>
                    For my heart was hot and restless,
                </li>
                <li>
                    And my life was full of care,
                </li>
                <li>
                    And the burden laid upon me
                </li>
                <li>
                    Seemed greater than I could bear.
                </li>
                <li>
                    <br />
                </li>
                <li>
                    But now it has fallen from me,
                </li>
                <li>
                    It is buried in the sea;
                </li>
                <li>
                    And only the sorrow of others
                </li>
                <li>
                    Throws its shadow over me.
                </li>
                <li>
                    <br />
                </li>
                <li>
                    Yet whenever I cross the river
                </li>
                <li>
                    On its bridge with wooden piers,
                </li>
                <li>
                    Like the odor of brine from the ocean
                </li>
                <li>
                    Comes the thought of other years.
                </li>
                <li>
                    <br />
                </li>
                <li>
                    And I think how many thousands
                </li>
                <li>
                    Of care-encumbered men,
                </li>
                <li>
                    Each bearing his burden of sorrow,
                </li>
                <li>
                    Have crossed the bridge since then.
                </li>
                <li>
                    <br />
                </li>
                <li>
                    I see the long procession
                </li>
                <li>
                    Still passing to and fro,
                </li>
                <li>
                    The young heart hot and restless,
                </li>
                <li>
                    And the old subdued and slow!
                </li>
                <li>
                    <br />
                </li>
                <li>
                    And forever and forever,
                </li>
                <li>
                    As long as the river flows,
                </li>
                <li>
                    As long as the heart has passions,
                </li>
                <li>
                    As long as life has woes;
                </li>
                <li>
                    <br />
                </li>
                <li>
                    The moon and its broken reflection
                </li>
                <li>
                    And its shadows shall appear,
                </li>
                <li>
                    As the symbol of love in heaven,
                </li>
                <li>
                    And its wavering image here.
                </li>
            </ol>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
