@section list {
<ol style="list-style-type:none">
    <li><h3>Contact</h3></li>
    <li><br /></li>
    <li><br /></li>
    <li><br /></li>
    <li><br /></li>
    <li><br /></li>
    <li><br /></li>
    <li><br /></li>
    <li><br /></li>
    <li><strong>All Contact information</strong></li>
    <li><strong>was taken directly from:</strong></li>
    <li><br /></li>
    <li>http://www.ritba.org/contact</li>
</ol>
}
<h3>
    &nbsp &nbsp Rhode Island Turnpike and Bridge Authority<br />
    <br />
    &nbsp &nbsp 1 East Shore Road<br />
    &nbsp &nbsp P.O.Box 437<br />
    &nbsp &nbsp Jamestown, RI 02835
</h3>
<br /> <br />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <ul style="list-style-type:none">
                    <li><u>E-ZPass Customer Service</u></li>
                    <li><br /></li>
                    <li>Phone (Toll Free): 1-877-RI-EZPASS (1-877-743-9727)</li>
                    <li>Fax: (401) 423-7036</li>
                    <li><br /></li>
                    <li><u>Walk In Center</u></li>
                    <li><br /></li>
                    <li>8:00 am - 6:00 pm Monday through Friday</li>
                    <li>8:00 am - 2:00 pm on Saturday</li>
                    <li><br /></li>
                    <li><u>Call Center</u></li>
                    <li><br /></li>
                    <li>9:00 am - 6:00 pm Monday through Friday</li>
                    <li>8:00 am - 1:00 pm on Saturday</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="well">
                <ul style="list-style-type:none">
                    <li><u>Administration Offices:</u></li>
                    <li><br /></li>
                    <li>8:30 am - 4:30 pm Mon through Fri</li>
                    <li>Phone: (401) 423-0800</li>
                    <li>Fax: (401) 423-0830</li>
                    <li><br /></li>
                    <li><u>Toll Facility Operations:</u></li>
                    <li><br /></li>
                    <li>24 hours a day, 7 days a week</li>
                    <li>For Emergency Use Only</li>
                    <li>Phone: (401) 423-0803</li>
                </ul>
            </div>
        </div>
    </div>
</div>
